@model Girassol.Models.DTO.ViewModels.DashBoardViewModel


@{
    ViewData["Title"] = "Home Page";
 }
 

@Html.Partial("_pageTitle",  "Vista com classe, lavar é nossa arte")




<div class="col-12 col-lg-12">
    <div class="row">
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="iconly-boldDocument"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">ToTal Recibos</h6>
                            <h6 class="font-extrabold mb-0">@Model.TotalInvoices</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="iconly-boldDocument"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Recibos Levantados</h6>
                            <h6 class="font-extrabold mb-0">@Model.TotalInvoicesDone</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="iconly-boldDocument"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Receibos Pendentes</h6>
                            <h6 class="font-extrabold mb-0">@Model.TotalPendent</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="iconly-boldDocument"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Total clientes</h6>
                            <h6 class="font-extrabold mb-0">@Model.TotalClient</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



<hr />

 
    @Html.Partial("_invoiceForm", Model.NewInvoice)
 

